.popup__container {
    width: 430px;
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .popup__container {
        width: 282px;
    }
}