.form__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    z-index: 6;
    margin: 30px auto 24px 0px;
}
@media screen and (max-width: 768px) {
    .form__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin: 25px auto 75px auto;
    }
}
