.form__save {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    outline: none;
    border: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px auto 37px auto;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s linear 0.1s;
}
.form__save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .form__save {
        max-width: 238px;
        margin: 15px auto 25px auto;
        font-size: 14px;
        line-height: 17px;
    }
}